@font-face {
  font-family: fuente;
  src: url(SimplyMono-Book.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: fuente;
}

header{
  background-color: #c9c9c9;
}

header img{
  float: left;
  width: 7%;
  padding: 2%;
}

body{
  background-color: #272727;
}

#titulo{
  width: 89%;
  font-size: 100px;
  padding: 2%;
  text-align: center;
  color: #272727;
}

#listado {
  margin:  5% auto 5% auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 4%;
}

.listItem {
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 1px 1px;
  font-size: 150%;
  text-align: center;
  background-color: #505050;
  color: #c9c9c9;
}

.listItem:hover{
  background-color: #fdfdfd0c;
}

.listItem img{
  width: 40%;
  padding: 3%;
}

#textos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

#cargar{
  position: static;
  float: right;
  padding: 1.5%;
  margin: 2.9%;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

#cargar:hover{
  background-color: #c9c9c9;
}

#modal{
  display: none;
  background-color: #c9c9c9;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 3%;
  display: flex;
  font-size: 30px;
  border-radius: 20px;
}

#modal img{
  float: right;
}

#modal button{
  background-color: rgb(151, 26, 26);
  border: none;
  font-size: 30px;
  padding: 1%;
  border-radius: 20px;
  font-weight: bold;
  margin: 2% auto auto;
}


